<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.4.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.4.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://rawcdn.githack.com/python-visualization/folium/master/folium/templates/leaflet.awesome.rotate.css"/>
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_9ddf92f0451146b2b8cb4236468a4862 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_9ddf92f0451146b2b8cb4236468a4862" ></div>
        
</body>
<script>    
    
            var map_9ddf92f0451146b2b8cb4236468a4862 = L.map(
                "map_9ddf92f0451146b2b8cb4236468a4862",
                {
                    center: [37.5182, 127.09],
                    crs: L.CRS.EPSG3857,
                    zoomControl: true,
                    preferCanvas: false,
                    zoom: 17,
                }
            );

            

        
    
            var tile_layer_bfb06d48ff6647c89909dbb0904db8b9 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_9ddf92f0451146b2b8cb4236468a4862);
        
    
            var marker_5e67201f7824429882dd1f90268699a2 = L.marker(
                [37.5182, 127.09],
                {}
            ).addTo(map_9ddf92f0451146b2b8cb4236468a4862);
        
    
        var popup_73158e39fa91450393f6e55eb3eda281 = L.popup({"maxWidth": "100%"});

        
            var html_3dab0a8bfe8e4e8faf435f3007510659 = $(`<div id="html_3dab0a8bfe8e4e8faf435f3007510659" style="width: 100.0%; height: 100.0%;">id:63, 이름:잠실지구게이트볼장3</div>`)[0];
            popup_73158e39fa91450393f6e55eb3eda281.setContent(html_3dab0a8bfe8e4e8faf435f3007510659);
        

        marker_5e67201f7824429882dd1f90268699a2.bindPopup(popup_73158e39fa91450393f6e55eb3eda281)
        ;

        
    
    
            var marker_98877f9a8aa246ed90ef096c1a67a7ba = L.marker(
                [37.5182, 127.089],
                {}
            ).addTo(map_9ddf92f0451146b2b8cb4236468a4862);
        
    
        var popup_32d8b173d02c421ea7cee9fc5bf3f14f = L.popup({"maxWidth": "100%"});

        
            var html_44906e26193143fda01055decf87e1a8 = $(`<div id="html_44906e26193143fda01055decf87e1a8" style="width: 100.0%; height: 100.0%;">id:64, 이름:잠실지구게이트볼장4</div>`)[0];
            popup_32d8b173d02c421ea7cee9fc5bf3f14f.setContent(html_44906e26193143fda01055decf87e1a8);
        

        marker_98877f9a8aa246ed90ef096c1a67a7ba.bindPopup(popup_32d8b173d02c421ea7cee9fc5bf3f14f)
        ;

        
    
    
            var marker_54f0fdb85b2c440f9524244ec0b0b54e = L.marker(
                [37.5184, 127.089],
                {}
            ).addTo(map_9ddf92f0451146b2b8cb4236468a4862);
        
    
        var popup_e3ec00010cd94453a3b4d0888217a29d = L.popup({"maxWidth": "100%"});

        
            var html_9d256a9984d04aed8c92745b63ca0447 = $(`<div id="html_9d256a9984d04aed8c92745b63ca0447" style="width: 100.0%; height: 100.0%;">id:65, 이름:잠실지구게이트볼장2</div>`)[0];
            popup_e3ec00010cd94453a3b4d0888217a29d.setContent(html_9d256a9984d04aed8c92745b63ca0447);
        

        marker_54f0fdb85b2c440f9524244ec0b0b54e.bindPopup(popup_e3ec00010cd94453a3b4d0888217a29d)
        ;

        
    
    
            var marker_435603ecbe1a434b8106b14ea80cb49a = L.marker(
                [37.5185, 127.089],
                {}
            ).addTo(map_9ddf92f0451146b2b8cb4236468a4862);
        
    
        var popup_ea3364d8a02b4dbcbbbb288e90af4aac = L.popup({"maxWidth": "100%"});

        
            var html_8af92410f2c343bf89c94877edb20600 = $(`<div id="html_8af92410f2c343bf89c94877edb20600" style="width: 100.0%; height: 100.0%;">id:66, 이름:잠실지구게이트볼장1</div>`)[0];
            popup_ea3364d8a02b4dbcbbbb288e90af4aac.setContent(html_8af92410f2c343bf89c94877edb20600);
        

        marker_435603ecbe1a434b8106b14ea80cb49a.bindPopup(popup_ea3364d8a02b4dbcbbbb288e90af4aac)
        ;

        
    
</script>