<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.4.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.4.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://rawcdn.githack.com/python-visualization/folium/master/folium/templates/leaflet.awesome.rotate.css"/>
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_a37e9b688b02490aa2de6c9b9cf8d23f {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_a37e9b688b02490aa2de6c9b9cf8d23f" ></div>
        
</body>
<script>    
    
            var map_a37e9b688b02490aa2de6c9b9cf8d23f = L.map(
                "map_a37e9b688b02490aa2de6c9b9cf8d23f",
                {
                    center: [37.5182, 127.09],
                    crs: L.CRS.EPSG3857,
                    zoom: 17,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_ed851cfe06ff497db3618b3e09465b1c = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_a37e9b688b02490aa2de6c9b9cf8d23f);
        
    
            var marker_78b64ea6631246b187b5c01542153918 = L.marker(
                [37.5182, 127.09],
                {}
            ).addTo(map_a37e9b688b02490aa2de6c9b9cf8d23f);
        
    
        var popup_c53f876e1c2a43779a7ba63f2267c597 = L.popup({"maxWidth": "100%"});

        
            var html_fe2c1235ed0b48ae86dc5524de2da939 = $(`<div id="html_fe2c1235ed0b48ae86dc5524de2da939" style="width: 100.0%; height: 100.0%;">id:63, 이름:잠실지구게이트볼장3</div>`)[0];
            popup_c53f876e1c2a43779a7ba63f2267c597.setContent(html_fe2c1235ed0b48ae86dc5524de2da939);
        

        marker_78b64ea6631246b187b5c01542153918.bindPopup(popup_c53f876e1c2a43779a7ba63f2267c597)
        ;

        
    
    
            var marker_ce3deaf682384b0f8b5e0e36ddbf7f10 = L.marker(
                [37.5182, 127.089],
                {}
            ).addTo(map_a37e9b688b02490aa2de6c9b9cf8d23f);
        
    
        var popup_5c05de5292444a078f3f706125b9558c = L.popup({"maxWidth": "100%"});

        
            var html_325cf49f27d442298392f626d2efbb14 = $(`<div id="html_325cf49f27d442298392f626d2efbb14" style="width: 100.0%; height: 100.0%;">id:64, 이름:잠실지구게이트볼장4</div>`)[0];
            popup_5c05de5292444a078f3f706125b9558c.setContent(html_325cf49f27d442298392f626d2efbb14);
        

        marker_ce3deaf682384b0f8b5e0e36ddbf7f10.bindPopup(popup_5c05de5292444a078f3f706125b9558c)
        ;

        
    
    
            var marker_4a2a6deec5b24e9ea564488c701ada4b = L.marker(
                [37.5184, 127.089],
                {}
            ).addTo(map_a37e9b688b02490aa2de6c9b9cf8d23f);
        
    
        var popup_5aaced5c1ff246e8a57e254868f1b06a = L.popup({"maxWidth": "100%"});

        
            var html_8fb486d5af274829ad4641a7888ced93 = $(`<div id="html_8fb486d5af274829ad4641a7888ced93" style="width: 100.0%; height: 100.0%;">id:65, 이름:잠실지구게이트볼장2</div>`)[0];
            popup_5aaced5c1ff246e8a57e254868f1b06a.setContent(html_8fb486d5af274829ad4641a7888ced93);
        

        marker_4a2a6deec5b24e9ea564488c701ada4b.bindPopup(popup_5aaced5c1ff246e8a57e254868f1b06a)
        ;

        
    
    
            var marker_0cd1dccc269e449bb17eda9c2de2d80c = L.marker(
                [37.5185, 127.089],
                {}
            ).addTo(map_a37e9b688b02490aa2de6c9b9cf8d23f);
        
    
        var popup_6eb526a908ee440f868a1ed301700d66 = L.popup({"maxWidth": "100%"});

        
            var html_05e71f0420924f29a4608dee456600b3 = $(`<div id="html_05e71f0420924f29a4608dee456600b3" style="width: 100.0%; height: 100.0%;">id:66, 이름:잠실지구게이트볼장1</div>`)[0];
            popup_6eb526a908ee440f868a1ed301700d66.setContent(html_05e71f0420924f29a4608dee456600b3);
        

        marker_0cd1dccc269e449bb17eda9c2de2d80c.bindPopup(popup_6eb526a908ee440f868a1ed301700d66)
        ;

        
    
</script>